<div class="menu">
  <div id="arrow"></div>
  <div class="menuContent">
    <ul>
      <li><a href="/workout">Workout</a></li>
      <li><a href="/settings">Programs</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">My body and goals</a></li>
    </ul>
  </div>
</div>
