<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
  <link href="css/login.css" type="text/css" rel="stylesheet">
  <title><%- title %></title>
</head>
<body>
  <%- body %>
  <script src="js/loginForm.js"></script>
</body>
</html>