<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>

  <link href="css/normal.css" type="text/css" rel="stylesheet">
  <link href="css/login.css" type="text/css" rel="stylesheet">

  <link rel="icon" href="images/favicon.png">

</head>
<body>
  <%- body %>
  <script src="js/loginForm.js"></script>
</body>
</html>