<div class="login-wrapper">
  <h1>Lorem Ipsum</h1>
  <form method="POST" action="/login">
      <input type="text" name="user" placeholder="Username" id="user" required>
      <input type="password" name="pass" placeholder="Password" id="pass" required>
      <button type="submit">Login</button>
      <a>Create Account</a>
  </form>
</div>
