<fieldset>
    <legend>Login Page</legend>
    <form method="POST" action="/login">
        <label for="user">Username</label>
        <input type="text" name="user"><br>
        <label for="pass">Password</label>
        <input type="password" name="pass"><br>
        <input type="submit" value="Login">
        <a href="/create">Create Account</a>
    </form>
    <% if(locals.message) { %>
        <p style="color: red; margin: 0;"><%= message %></p>
        <% } %>
</fieldset>