<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 250px;
        border-collapse: collapse;
    }
</style>

<table id="working"></table>

<button onclick="getProgram()">Fetch</button>
<button onclick="nextExercise()">Done</button>

<table id="done"></table>



<script src="/js/fetchprogram.js"></script>
<script src="/js/modifyProgramTable.js"></script>