<div class="wrapper">
  <div class="workout-content floatleft" id="doing">
    <h2>Doing</h2>
    <ul id="workout"></ul>
  </div>

  <div class="workout-details floatleft">
    <h1>HELLO WORLD!</h1>
    <h1>KG</h1>
    <h1>Do 1 set of something</h1>
    <button>Next</button>
    <button>Quit</button>
  </div>


  <div class="workout-content floatleft" id="done">
    <h2>Done</h2>
  </div>
</div>

<script src="js/script.js"></script>