<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 250px;
        border-collapse: collapse;
    }

    fieldset{
        height:200px;
        overflow: scroll;
    }
</style>



<fieldset>
    <legend>Doing</legend>
    <table id="working"></table>
</fieldset>
<br><br>
<button id="done-btn" onclick="nextExercise()">Done</button>
<button id="quit" onclick="location.replace('/')">Quit</button>

<p id="current-exercise">No Program</p>
<p id="current-load">no exercise</p>
<p id="current-set">no set</p>

<fieldset>
    <legend>Done</legend>
    <table id="done"></table>
</fieldset>




<!--<script src="/js/printTest.js"></script>-->
<script src="/js/programManager.js"></script>