<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 250px;
        border-collapse: collapse;
    }
</style>




<table id="working"></table>
<br>
<table id="done"></table>


<!--<button onclick="getProgram()">Fetch</button>-->
<button id="done-btn" onclick="nextExercise()">Done</button>
<button onclick="location.replace('/')">Quit</button>

<p id="current-exercise">No Program</p>
<p id="current-load">no exercise</p>
<p id="current-set">no set</p>

<!--<script src="/js/printTest.js"></script>-->
<script src="/js/programManager.js"></script>