<div class="mobile">
  <div class="selector"><button class="tab-btn" id="doing">Doing</button><button class="tab-btn" id="done">Done</button></div>
  <div class="workout-content">
    <div id="doing-content">
      <h2 class="doing">Doing</h2>
      <table id="working"></table>
    </div>

    <div id="done-content">
      <h2 class="done">Done</h2>
      <table id="doneTable"></table>
    </div>
  </div>


  <div class="controlPanel">
    <h1 id="current-lift">Bench press</h1>
    <h1 id="current-lift-KG">60 KG</h1>
    <h1 id="current-lift-SR">Do 1 set of 4 reps</h1>
    <button id="done-btn" class="nextBtn" onclick="nextExercise()">Next</button><br>
    <button class="quitBtn">Quit</button>
  </div>
</div>
<script src="js/programManager.js"></script>
<script src="js/printTest.js"></script>
<script src="js/script.js"></script>