* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    text-decoration: none;
    color: black;
}

body{
    background-color: #23263d;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearboth {
    clear: both;
}



