#sidePanel{
  height: 100vh;
  width: 15%;
  background-image: linear-gradient(0deg, #00ff6e, #00fff7);
  text-align: center;
}

.user{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url('../images/favicon.png');
  background-size: 70px 70px;
  background-position:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

li {
  padding: 5px;
  font-size: 20px;
}

li a{
  color: white;
  font-weight: 900;
  text-shadow:1px 1px 5px black;

}

li a:hover{
  color: yellow;
}

#arrow{
  width: 30px;
  height: 30px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

@media screen and (orientation: portrait){
  #sidePanel{

    height: 10vh;
    text-align: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  #arrow{
    display: block;
  }

}