.workout-content{
  width: 300px;
  height: 600px;
  background-color: #4E5067;
  border-radius: 6px;
  text-shadow:1px 1px 5px black;
  overflow: auto;
}

.workout-content ul, h2{
  padding: 20px;
  padding-bottom: 0;
}

.workout-details{
  width: 400px;
  height: 620px;
}

.wrapper{
  height:fit-content;
  padding-bottom: 20px;
}

#doing h2{ color: #FA023D;}
#done  h2{ color: #00FFA2;}
.workout-content li, h1{ color: white;}
